<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/material.min.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <title>Blog</title>
</head>

<body class="gradient-bg">
  <div class="page-content">
    <div style="width: 100%; padding: 1rem">
      <div style="display: flex; align-items:start; justify-content:start; align-self:center;">
        <img src="/assets/images/logo-transparent.png" class="logo" />
        <h1 class="maintitle" style="display: inline-flex;">Blog</h1>
      </div>
      <a href="/articles/new"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored button-new">
        <i class="material-icons">add</i>
      </a>
    </div>

    <a href="/logout"
      class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">logout</i>
    </a>

    <% articles.forEach(article=> { %>

      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__content card-minHeight" style="cursor:pointer"
          onclick="window.location.href = '/articles/<%= article.slug %>'">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
              <%= article.title.length <=78 ? article.title : article.title.substring(0,78).concat(" ...") %>
            </h2>
          </div>
          <div class="mdl-card__supporting-text">
            <%= article.description %>
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/articles/<%= article.slug %>"
            class="mdl-button mdl-button--colored mdl-button--fmx mdl-js-button mdl-js-ripple-effect pull-left">
            Lesen ...
          </a>

          <span style="float:right; margin-top:1rem" class="pull-right date">erstellt: <%=
              luxon.DateTime.fromJSDate(article.createdAt).toRelativeCalendar() %>
              <%= article.createdAt.toLocaleTimeString([], {hour: '2-digit' , minute:'2-digit'})%> h
          </span>


          <% if(Date.parse(article.createdAt) !==Date.parse(article.updatedAt)) { %>
            <span style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span style="float:right; margin-top:1rem" class="pull-right date">geändert: <%=
                luxon.DateTime.fromJSDate(article.updatedAt).toRelativeCalendar() %>
                <%= article.updatedAt.toLocaleTimeString([], {hour: '2-digit' , minute:'2-digit'})%> h
            </span>
            <% } %>


        </div>
        <div class="mdl-card__menu">
          <a href="/articles/edit/<%= article.id %>"
            class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">edit</i>
          </a>

          <a href="#" onclick="openDialog('dialog_<%=article.id%>')"
            class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">delete</i>
          </a>

          <a href="articles/pdf/<%= article.id %>"
            class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">cloud_download</i>
          </a>

          <%- include("_modal", {article: article}) %>
        </div>
      </div>

      <% })%>
  </div>
</body>
<script src="/static/material.min.js"></script>
<script>
  function openDialog(id) {
    const dialog = document.querySelector("#" + id);
    if (!dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }

    dialog.showModal();

    dialog.querySelector(".close").addEventListener("click", function () {
      dialog.close();
    });
  };
</script>

</html>